{% load static %}

<div class="question">
  <div class="row">
    <div class="col-3">
      <div class="question-avatar stranger-answer-avatar">
        <img src="{% static 'images/avatar.png' %}" alt="avatar">
      </div>
    </div>
    <div class="col-6">
      <div class="question-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Iaculis urna id volutpat lacus laoreet non curabitur...</div>
     <div class="row correct-check">
       <div class="col-3">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
          <label class="form-check-label" for="invalidCheck2">
            Correct
          </label>
        </div>
     </div>
    </div>
    <div class="col-2">
      {% include 'inc/vote.html' %}
    </div>
  </div>
</div>