{% load static %}

<div class="question">
  <div class="row">
    <div class="col-3">
      <div>
        <img src="{% static 'images/avatar.png' %}">
      </div>
    </div>
    <div class="col-6">
      <h2><a href="#">{{ quastion.title }}</a></h2>
      <div class="question-text">{{ quastion.text }}</div>
     <div class="row">
       <div class="col-4">
        <a href="#" class="btn btn-primary">Answer (3)</a>
       </div>
       <div class="col-8">
         Tags:
         <a href="#">black_jack</a>,
         <a href="#">black_jack</a>
       </div>
     </div>
    </div>
    <div class="col-3">

        <span style="display: inline-block; width: 70px; vertical-align: top; float: right;">
            <button class="btn btn-upvote"></button>
            <input type="text" class="form-control" id="number-input-1" value="0" style="width: 60px; text-align: center;">
            <button class="btn btn-downvote"></button>
        </span>

    </div>
  </div>
</div>