{% block tags %}

<div class="col-3 right-col">
  <div class="popular-tags">
    <h2 class="title-popular-tags">Popular Tags</h2>
    <div class="row">
      <div class="col popular-tag">
        <a href="#" class="link-dark">perl</a>
      </div>
      <div class="col popular-tag">
        <a href="#" class="link-danger fw-bold">python</a>
      </div>
      <div class="col popular-tag">
        <a href="#" class="link-dark">TechnoPark</a>
      </div>
    </div>
    <div class="row">
      <div class="col popular-tag">
        <a href="#" class="link-danger fw-bold">MySQL</a>
      </div>
      <div class="col popular-tag">
        <a href="#" class="link-success fw-bold">django</a>
      </div>
    </div>
    <div class="row">
      <div class="col popular-tag">
        <a href="#" class="link-dark">Mail.Ru</a>
      </div>
      <div class="col popular-tag">
        <a href="#" class="link-dark">Voloshin</a>
      </div>
      <div class="col popular-tag">
        <a href="#" class="link-warning">FireFox</a>
      </div>
    </div>
  </div>
  <div class="best-members">
    <h2 class="title-best-members">Best Members</h2>
    <div class="best-member">
      <a href="#">Mr. Freeman</a>
    </div>
    <div class="best-member">
      <a href="#">Dr. House</a>
    </div>
    <div class="best-member">
      <a href="#">Bender</a>
    </div>
    <div class="best-member">
      <a href="#">Queen Victoria</a>
    </div>
    <div class="best-member">
      <a href="#">V. Pupkin</a>
    </div>
  </div>
</div>

{% endblock tags %}