{% extends 'inc/base.html' %}

{% load static %}

{% block topquastion %}

<div class="row">
      <div class="col-md-3">
        <h2 class="modal-header"><a href="#"> New Questions</a></h2>
      </div>
      <div class="col-md-9">
        <h2 class="modal-header"><a href="#">Hot Questions</a></h2>
      </div>
</div>

{% endblock topquastion %}

{% block content %}

    {% for quastion in quastions %}
        {% include 'inc/quastion_item.html' %}
    {% endfor %}


    <div>
        <h6><a href="login">login</a></h6>
        <h6><a href="question">question</a></h6>
        <h6><a href="ask">ask</a></h6>
        <h6><a href="registration">registration</a></h6>
        <h6><a href="settings">settings</a></h6>
        <h6><a href="tag">tag</a></h6>
    </div>
    {% include 'inc/paginator_item.html' %}
{% endblock content %}


