{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

<div class="mt-5">
        <h2 class="py-3 mb-3 border-bottom">Login</h2>
        <p class="text-danger">Sorry, this password is not correct!</p>
        <form class="col-sm-4">
            <div class="mb-3">
                <label for="inputLogin" class="form-label">Login</label>
                <input type="text" class="form-control" id="inputLogin" placeholder="login">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*****" >
          </div>

          <button type="submit" class="btn btn-dark">Login</button>
          <div class="mb-2 create-new-account-a">
            <a href="register.html">create new account</a>
          </div>
        </form>
</div>


{% endblock content %}